@import url("https://fonts.cdnfonts.com/css/proxima-nova-2");

*{
    font-family: "proxima Nova";
}

.backgroundSideBar{
    background-color: blue;

}

.card{
    margin-top: 25px;
}

.lastUser{
    width: 70%;
    margin-left: 10%;
    margin-top: 10px;
}

.title-last{
    font-weight: bold;
    text-align: center;
    color: gray;
}
.tableUser{
    width: 100%;
    margin-left: 5px;
}

.title{
    font-size: 30px;
    text-align: center;
}

.card-body{
    margin-top: 20px;
    font-family: 'proxima Nova';
}

.effec{
    color: black;
    font-size: 12px;
   text-align: justify;
   background-color: cornsilk;
   text-transform: uppercase;

}

.table1{
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: black;
   
}

.margin{
    margin-top: 5%;
    margin-left: 22%;
}

@media (min-width: 768px){
    .w-100{
        margin-top: 50px;
        height: 100px !important;
        width: 150px !important;
}
    .sidebar .nav-item {
        margin-top: 40px;
    }

}

@media (min-width: 1024px){
    
    .w-100{
    margin-top: 50px;
    height: 100px !important;
    width: 150px !important;
}

}

